/* WARNING:	Your are using ligatures for your icon font.
			Ligatures are not supported in IE 9 (and older).
			Use the Private Use Area encoding for best browser support.
==================================================================== */
@font-face {
	font-family: 'word-fm';
	src:url('fonts/word-fm.eot');
	src:url('fonts/word-fm.eot?#iefix') format('embedded-opentype'),
		url('fonts/word-fm.svg#word-fm') format('svg'),
		url('fonts/word-fm.woff') format('woff'),
		url('fonts/word-fm.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'word-fm';
	content: attr(data-icon);
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-wfm-"]:before, [class*=" icon-wfm-"]:before {
	font-family: 'word-fm';
	font-style: normal;
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-wfm-home:before {
	content: "\68\6f\6d\65";
}
.icon-wfm-broadcast:before {
	content: "\69\6e\74\65\72\6e\65\74";
}
.icon-wfm-loading:before {
	content: "\6c\6f\61\64\69\6e\67";
}
.icon-wfm-neutral:before {
	content: "\6e\6f";
}
.icon-wfm-heart:before {
	content: "\6c\69\6b\65";
}
.icon-wfm-monitor:before {
	content: "\64\65\73\6b\74\6f\70";
}
.icon-wfm-mobile:before {
	content: "\6d\6f\62\69\6c\65";
}
.icon-wfm-coffee:before {
	content: "\63\6f\66\66\65\65";
}
.icon-wfm-smiley:before {
	content: "\79\65\73";
}
.icon-wfm-shit:before {
	content: "\73\68\69\74";
}
.icon-wfm-sun:before {
	content: "\6c\69\67\68\74";
}
.icon-wfm-moon:before {
	content: "\64\61\72\6b";
}
.icon-wfm-check-alt:before {
	content: "\72\69\67\68\74";
}
.icon-wfm-x-altx-alt:before {
	content: "\77\72\6f\6e\67";
}
.icon-wfm-magnifying-glass:before {
	content: "\73\65\61\72\63\68";
}
.icon-wfm-arrow-right-alt1:before {
	content: "\6e\65\78\74";
}
.icon-wfm-info:before {
	content: "\69\6e\66\6f";
}
.icon-wfm-layers:before {
	content: "\73\65\63\74\69\6f\6e\73";
}
.icon-wfm-stats-up:before {
	content: "\70\65\72\66\6f\72\6d\61\6e\63\65";
}
.icon-wfm-help:before {
	content: "\68\65\6c\70";
}
.icon-wfm-bug:before {
	content: "\62\75\67";
}
.icon-wfm-wrench:before {
	content: "\73\65\74\74\69\6e\67\73";
}
.icon-wfm-refresh:before {
	content: "\72\65\6c\6f\61\64";
}
.icon-wfm-lamp:before {
	content: "\6c\61\6d\70";
}
.icon-wfm-clipboard:before {
	content: "\6e\6f\74\65\62\6f\6f\6b";
}
.icon-wfm-clipboard-2:before {
	content: "\6e\6f\74\65\62\6f\6f\6b\32";
}
.icon-wfm-calendar:before {
	content: "\63\61\6c\65\6e\64\61\72";
}
.icon-wfm-music:before {
	content: "\6d\75\73\69\63";
}
.icon-wfm-share:before {
	content: "\73\6f\63\69\61\6c";
}
.icon-wfm-mail:before {
	content: "\65\6d\61\69\6c";
}
.icon-wfm-flag:before {
	content: "\66\69\6e\69\73\68\65\64";
}
.icon-wfm-left-quote:before {
	content: "\71\75\6f\74\65\2d\6c";
}
.icon-wfm-right-quote:before {
	content: "\71\75\6f\74\65\2d\72";
}
.icon-wfm-moon-fill:before {
	content: "\6d\6f\6f\6e";
}
.icon-wfm-play:before {
	content: "\70\6c\61\79";
}
.icon-wfm-pause:before {
	content: "\70\61\75\73\65";
}
